Sln_WebAfiliado/Pecsa.WebAfiliado.Net4/Service References/ViviendaWS/ViviendaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vivienda">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoVivienda" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Metraje" type="xs:decimal" />
      <xs:element minOccurs="0" name="NroBano" type="xs:int" />
      <xs:element minOccurs="0" name="NroCuartos" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroVivienda" type="xs:int" />
      <xs:element minOccurs="0" name="TieneSalaComedor" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoVivienda" nillable="true" type="tns:TipoVivienda" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="tns:Ubicacion" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vivienda" nillable="true" type="tns:Vivienda" />
  <xs:complexType name="TipoVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoTipoVivienda" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreTipoVivienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoVivienda" nillable="true" type="tns:TipoVivienda" />
  <xs:complexType name="Ubicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreUbicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubicacion" nillable="true" type="tns:Ubicacion" />
  <xs:complexType name="RepetidoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoException" nillable="true" type="tns:RepetidoException" />
  <xs:complexType name="ArrayOfVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vivienda" nillable="true" type="tns:Vivienda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVivienda" nillable="true" type="tns:ArrayOfVivienda" />
</xs:schema>