Sln_WebAfiliado/Pecsa.WebAfiliado.Net4/Service References/TipoViviendaWS/TipoViviendaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoVivienda" nillable="true" type="tns:TipoVivienda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoVivienda" nillable="true" type="tns:ArrayOfTipoVivienda" />
  <xs:complexType name="TipoVivienda">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoTipoVivienda" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreTipoVivienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoVivienda" nillable="true" type="tns:TipoVivienda" />
</xs:schema>