Sln_WebAfiliado/Pecsa.WebAfiliado.Net4/Service References/TipoViviendaWS/TipoViviendaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3644/TipoViviendaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" />
  <xs:element name="ListarTipoVivienda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="ListarTipoViviendaResult" nillable="true" type="q1:ArrayOfTipoVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>