Sln_WebAfiliado/Pecsa.WebAfiliado.Net4/Service References/ResidenteWS/ResidenteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResidenteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3644/ResidenteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3644/ResidenteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" />
      <xsd:import schemaLocation="http://localhost:3644/ResidenteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResidenteService_CrearResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearResidente" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_CrearResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_CrearResidente_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_ObtenerResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResidente" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_ObtenerResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_ModificarResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResidente" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_ModificarResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_EliminarResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResidente" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_EliminarResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_listarResidentes_InputMessage">
    <wsdl:part name="parameters" element="tns:listarResidentes" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_listarResidentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarResidentesResponse" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_buscarResidentes_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarResidentes" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_buscarResidentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarResidentesResponse" />
  </wsdl:message>
  <wsdl:portType name="IResidenteService">
    <wsdl:operation name="CrearResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/CrearResidente" message="tns:IResidenteService_CrearResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/CrearResidenteResponse" message="tns:IResidenteService_CrearResidente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IResidenteService/CrearResidenteRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IResidenteService_CrearResidente_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/ObtenerResidente" message="tns:IResidenteService_ObtenerResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/ObtenerResidenteResponse" message="tns:IResidenteService_ObtenerResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/ModificarResidente" message="tns:IResidenteService_ModificarResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/ModificarResidenteResponse" message="tns:IResidenteService_ModificarResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/EliminarResidente" message="tns:IResidenteService_EliminarResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/EliminarResidenteResponse" message="tns:IResidenteService_EliminarResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarResidentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/listarResidentes" message="tns:IResidenteService_listarResidentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/listarResidentesResponse" message="tns:IResidenteService_listarResidentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarResidentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/buscarResidentes" message="tns:IResidenteService_buscarResidentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/buscarResidentesResponse" message="tns:IResidenteService_buscarResidentes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResidenteService" type="tns:IResidenteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearResidente">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/CrearResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerResidente">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/ObtenerResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarResidente">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/ModificarResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarResidente">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/EliminarResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarResidentes">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/listarResidentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarResidentes">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/buscarResidentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResidenteService">
    <wsdl:port name="BasicHttpBinding_IResidenteService" binding="tns:BasicHttpBinding_IResidenteService">
      <soap:address location="http://localhost:3644/ResidenteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>