Sln_WebAfiliado/Pecsa.WebAfiliado.Net4/Service References/ResidenteWS/ResidenteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3644/ResidenteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" />
  <xs:element name="CrearResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="residente" nillable="true" type="q1:Residente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="CrearResidenteResult" nillable="true" type="q2:Residente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="ObtenerResidenteResult" nillable="true" type="q3:Residente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="residente" nillable="true" type="q4:Residente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResidenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="ModificarResidenteResult" nillable="true" type="q5:Residente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResidente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResidenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResidentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResidentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="listarResidentesResult" nillable="true" type="q6:ArrayOfResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResidentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResidentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="buscarResidentesResult" nillable="true" type="q7:ArrayOfResidente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>