CondominioService.MasterTables/CondominioTest/Service References/ViviendaWS/ViviendaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ViviendaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3644/ViviendaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3644/ViviendaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" />
      <xsd:import schemaLocation="http://localhost:3644/ViviendaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IViviendaService_CrearVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_CrearVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_CrearVivienda_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ObtenerVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ObtenerVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ObtenerVivienda_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" name="detail" element="q2:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ModificarVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ModificarVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_EliminarVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_EliminarVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ListarViviendas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarViviendas" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ListarViviendas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarViviendasResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_BuscarVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_BuscarVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ObtenerCostoDeVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCostoDeVivienda" />
  </wsdl:message>
  <wsdl:message name="IViviendaService_ObtenerCostoDeVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCostoDeViviendaResponse" />
  </wsdl:message>
  <wsdl:portType name="IViviendaService">
    <wsdl:operation name="CrearVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/CrearVivienda" message="tns:IViviendaService_CrearVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/CrearViviendaResponse" message="tns:IViviendaService_CrearVivienda_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IViviendaService/CrearViviendaRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IViviendaService_CrearVivienda_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/ObtenerVivienda" message="tns:IViviendaService_ObtenerVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/ObtenerViviendaResponse" message="tns:IViviendaService_ObtenerVivienda_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IViviendaService/ObtenerViviendaRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IViviendaService_ObtenerVivienda_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/ModificarVivienda" message="tns:IViviendaService_ModificarVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/ModificarViviendaResponse" message="tns:IViviendaService_ModificarVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/EliminarVivienda" message="tns:IViviendaService_EliminarVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/EliminarViviendaResponse" message="tns:IViviendaService_EliminarVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarViviendas">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/ListarViviendas" message="tns:IViviendaService_ListarViviendas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/ListarViviendasResponse" message="tns:IViviendaService_ListarViviendas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/BuscarVivienda" message="tns:IViviendaService_BuscarVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/BuscarViviendaResponse" message="tns:IViviendaService_BuscarVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostoDeVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IViviendaService/ObtenerCostoDeVivienda" message="tns:IViviendaService_ObtenerCostoDeVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViviendaService/ObtenerCostoDeViviendaResponse" message="tns:IViviendaService_ObtenerCostoDeVivienda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IViviendaService" type="tns:IViviendaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/CrearVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/ObtenerVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificarVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/ModificarVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/EliminarVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarViviendas">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/ListarViviendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/BuscarVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostoDeVivienda">
      <soap:operation soapAction="http://tempuri.org/IViviendaService/ObtenerCostoDeVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViviendaService">
    <wsdl:port name="BasicHttpBinding_IViviendaService" binding="tns:BasicHttpBinding_IViviendaService">
      <soap:address location="http://localhost:3644/ViviendaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>