CondominioService.MasterTables/CondominioTest/Service References/ViviendaWS/ViviendaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3644/ViviendaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" />
  <xs:element name="CrearVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTipoVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbicación" type="xs:int" />
        <xs:element minOccurs="0" name="numeroVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="metraje" type="xs:decimal" />
        <xs:element minOccurs="0" name="tieneSalaComedor" type="xs:boolean" />
        <xs:element minOccurs="0" name="nroCuartos" type="xs:int" />
        <xs:element minOccurs="0" name="nroBanos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="CrearViviendaResult" nillable="true" type="q1:Vivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVivienda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="ObtenerViviendaResult" nillable="true" type="q2:Vivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="codigoTipoVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbicación" type="xs:int" />
        <xs:element minOccurs="0" name="numeroVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="metraje" type="xs:decimal" />
        <xs:element minOccurs="0" name="tieneSalaComedor" type="xs:boolean" />
        <xs:element minOccurs="0" name="nroCuartos" type="xs:int" />
        <xs:element minOccurs="0" name="nroBanos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="ModificarViviendaResult" nillable="true" type="q3:Vivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVivienda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarViviendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarViviendas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarViviendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="ListarViviendasResult" nillable="true" type="q4:ArrayOfVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTipoVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUbicacion" type="xs:int" />
        <xs:element minOccurs="0" name="numeroVivienda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CondominioService.MasterTables.Dominio" minOccurs="0" name="BuscarViviendaResult" nillable="true" type="q5:ArrayOfVivienda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCostoDeVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoVivienda" type="xs:int" />
        <xs:element minOccurs="0" name="fechaContrato" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCostoDeViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCostoDeViviendaResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>